body {
    margin: 0;
    font-size: 1.3em;
}
header {
    text-align: center;
    padding-top: 2ch;
    height: 75px;
    background-color: #77bb88; 
}
header h1 {
    margin: 0;
    padding-left: 100px;
}

nav {
    background-color: #668877;
}

nav a {
    text-decoration: none;
    height: 100%;
    display: inline-block;
    padding: 1ch;
    border: 1px solid black;
    color: black;
}
nav a:hover {
    background-color: #77bb88;
    color: aqua;
}



img#avatar {
    float: right;
    width: 200px;
    height: 174px;
    padding: 10px;
}

img#fav {
	width: 80px;
	height: 79px;
	padding-right: 3ch;
	position: absolute;
	left: 10px;
	top: 10px;
}

section {
    box-sizing: border-box;
    padding-left: 2ch;
    padding-bottom: 5ch;
    padding-right: 2ch;
    font-size: smaller;
    background-color: #77bb88; 
    float: left;
    width: 250px;
}

article {
    padding-left: 25ch;
}

footer {
    position: relative;
    box-sizing: border-box;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;

    /* Height of the footer*/ 
    background: grey;
    font-size: small;
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* For mobile */


@media (max-width: 612px) { 
    img#avatar { 
        width: 100px;
        height: 87px;
        padding: 5px; 
    }  
}

@media (max-width: 420px) { 
    img#fav { 
        display: none;
    }

    header h1 {
        padding-left: 0px;
    }
    
}

@media (max-width: 396px) { 
    nav, footer h2, article {
        display: none;
    }
}